{% extends 'base.html' %}
{% load static %}

{% block title %}
  This Post Title
{% endblock %}

{% block css_files %}
  <link rel='stylesheet' href='{% static "blog/post-detail.css" %}' />
{% endblock %}

{% block content %}
  <section id="summary">
    <header>
      <h2>Post Title</h2>

      <article>
        <img src='{% static "blog/images/mountains.jpg" %}' alt='Post Title' />
        <address>By Alex</address>
        <div>
          Last updated on <time>July 10th</time>
        </div>
      </article>
    </header>
  </section>

  <main>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus lorem in mauris molestie elementum. Suspendisse sollicitudin magna vitae diam accumsan, sed pellentesque elit ultrices. Quisque nec nisl ut diam congue fermentum. Vestibulum id blandit sapien. Ut pharetra urna nisi, sed semper ante ornare quis. Curabitur in nibh odio. Proin ut nisl ut magna cursus volutpat. Mauris nec est pulvinar, tincidunt quam at, tincidunt diam.
    </p>
    <p>
      Pellentesque eget porttitor quam, dignissim imperdiet mi. Sed in dignissim justo. Cras egestas imperdiet dolor vel lobortis. Praesent vestibulum erat in odio elementum porttitor. Sed eget euismod mauris, sed placerat elit. Nulla auctor, arcu nec iaculis porttitor, nulla nulla semper diam, at semper odio dolor quis arcu. Nulla eros eros, cursus ut ex at, bibendum dictum massa. Praesent nec dolor eget dui egestas blandit. Ut ac magna tortor. Fusce congue, ipsum quis egestas volutpat, velit dui lobortis quam, non mattis metus ante sit amet justo.
    </p>
    <p>
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum vehicula est at pharetra venenatis. In eleifend justo lectus. Nullam pharetra volutpat dignissim. Mauris imperdiet augue ligula, sollicitudin rhoncus enim vestibulum a. Suspendisse vel euismod odio, sed euismod mi. Quisque vitae ipsum massa. Sed pretium venenatis tellus sit amet faucibus. Suspendisse efficitur risus et ex varius lobortis vitae eu ante. Mauris congue, tellus vel rhoncus vestibulum, ex tellus semper orci, et porttitor massa est a elit.
    </p>
  </main>
{% endblock %}